name: Continuous Integration

on:
  push:
    paths-ignore:
    - 'doc/**'
    - '**.md'
    - 'firmware/**'
  pull_request:
  schedule:
  - cron: '0 0 * * MON'
  workflow_dispatch:

env:
  CMAKE_CCACHE_LAUNCHER: -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
  ARAVIS_VER: 0.6.4
  PEAK_DRIVER_VER: 8.11.0

jobs:
  maybe_skip:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{steps.skip_check.outputs.should_skip}}
    steps:
    - uses: fkirc/skip-duplicate-actions@v5
      id: skip_check
      with:
        cancel_others: 'true'

  build:
    name: build (${{matrix.os}}, ${{matrix.robotology.yarp}}, ${{matrix.compiler.cc}})
    runs-on: ${{matrix.os}}
    needs: maybe_skip
    if: ${{needs.maybe_skip.outputs.should_skip != 'true'}}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        robotology:
        - { yarp: yarp-3.8, cmake: 3.16.x }
        - { yarp: yarp-3.9, cmake: 3.16.x }
        - { yarp: master, cmake: 3.19.x }
        compiler:
        - { cc: gcc, cxx: g++ }
        - { cc: clang, cxx: clang++ }
        experimental:
        - ${{github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'}}
        exclude:
        - { experimental: false, robotology: { yarp: master } }

    steps:
    - name: Check out yarp-devices
      uses: actions/checkout@v4

    - name: Check out YCM
      uses: actions/checkout@v4
      with:
        repository: robotology/ycm
        path: .deps/ycm

    - name: Check out YARP
      uses: actions/checkout@v4
      with:
        repository: robotology/yarp
        ref: ${{matrix.robotology.yarp}}
        path: .deps/yarp

    - name: Download ARAVIS
      run: wget -O- -q http://ftp.acc.umu.se/pub/GNOME/sources/aravis/${ARAVIS_VER%.*}/aravis-$ARAVIS_VER.tar.xz | tar -C .deps -xJf -

    - name: Download libphidget21
      run: wget -O- -q https://sourceforge.net/projects/roboticslab/files/External/phidget/libphidget_2.1.8.20151217.tar.gz | tar -C .deps -xzf -

    - name: Download Peak CAN driver
      run: wget -O- -q https://www.peak-system.com/fileadmin/media/linux/files/peak-linux-driver-$PEAK_DRIVER_VER.tar.gz | tar -C .deps -xzf -

    - name: Check out jr3pci-linux
      uses: actions/checkout@v4
      with:
        repository: roboticslab-uc3m/jr3pci-linux
        path: .deps/jr3pci-linux

    - name: Install dependencies via apt
      run: sudo apt-get update && sudo apt-get install -qq ccache intltool libxml2-dev libglib2.0-dev libusb-1.0-0-dev libspnav-dev libxwiimote-dev libgtest-dev

    - name: Set up CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: ${{matrix.robotology.cmake}}

    - name: Set up Ccache
      uses: hendrikmuhs/ccache-action@v1
      with:
        key: ${{matrix.os}}-${{matrix.robotology.yarp}}-${{matrix.compiler.cc}}

    - name: Set environment variables
      run: |
        echo "CC=${{matrix.compiler.cc}}" >> $GITHUB_ENV
        echo "CXX=${{matrix.compiler.cxx}}" >> $GITHUB_ENV

    - name: Build YCM
      run: |
        cmake -S .deps/ycm -B .deps/ycm/build
        cmake --build .deps/ycm/build
        sudo cmake --install .deps/ycm/build

    - name: Build YARP
      run: |
        cmake -S .deps/yarp -B .deps/yarp/build $CMAKE_CCACHE_LAUNCHER -DSKIP_ACE=ON -DYARP_DISABLE_VERSION_SOURCE=ON
        cmake --build .deps/yarp/build
        sudo cmake --install .deps/yarp/build

    - name: Build ARAVIS
      working-directory: .deps/aravis-${{env.ARAVIS_VER}}
      run: |
        CC="ccache ${{matrix.compiler.cc}}" CXX="ccache ${{matrix.compiler.cxx}}" ./configure --enable-gtk-doc-html=no
        make -j && sudo make install

    - name: Build libphidget21
      working-directory: .deps/libphidget-2.1.8.20151217
      run: |
        CC="ccache ${{matrix.compiler.cc}}" CXX="ccache ${{matrix.compiler.cxx}}" ./configure --enable-jni=no
        make -j && sudo make install

    - name: Build Peak CAN driver
      working-directory: .deps/peak-linux-driver-${{env.PEAK_DRIVER_VER}}
      run: |
        CC="ccache ${{matrix.compiler.cc}}" CXX="ccache ${{matrix.compiler.cxx}}" make -C lib -j
        sudo make -C lib install
        sudo cp -f driver/pcan*.h /usr/include

    - name: Install jr3pci-linux header
      run: sudo make -C .deps/jr3pci-linux install-header

    - name: Configure yarp-devices
      run: cmake -S . -B build $CMAKE_CCACHE_LAUNCHER -DENABLE_examples=ON

    - name: Compile yarp-devices
      run: cmake --build build

    - name: Install yarp-devices
      run: sudo cmake --install build && sudo ldconfig

    - name: Test yarp-devices
      working-directory: build
      run: ctest -V

    - name: Uninstall yarp-devices
      run: sudo cmake --build build --target uninstall
